ProjectOSRS/Content/*.xml filter=lfs diff=lfs merge=lfs -text
ProjectOSRS/Content/*.png filter=lfs diff=lfs merge=lfs -text
ProjectOSRS/Install/*.xml filter=lfs diff=lfs merge=lfs -text
ProjectOSRS/Install/*.png filter=lfs diff=lfs merge=lfs -text
ProjectOSRS/Install/*.dll filter=lfs diff=lfs merge=lfs -text
